table {
    border-collapse:collapse;
}
h1 {
    text-align:center;
}
h2 {
    text-align: center;
    color:gray;
}
a:hover {
    color:#ff4f4f;
}
main>div {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-image: url(assets/navbar.png);
}
