<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Further on our Site</title>
</head>
<body>
    <main>
        <h1>Reward System</h1>
        <p>We have designed a reward system based on the decibel levels recording in our main dashboard which is as following:</p>
        <ol type="I">
            <li></li>
        </ol>
    </main>
    <script src="/static/js/main.js"></script>
</body>
</html>