<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Volume Dashboard</title>
    <link rel="stylesheet" href="/api/static/css/style.css">
</head>
<body>
    <div id="content">
        <!--START OF CONTENT-->
        <h1>Student Volumes in Our School</h1>
        <h2>This dashboard will inform you about student volumes in our school</h2>
        <div id="6th">
            <div id="6a" style="background-color:coral">
                <h3>6A when Unified</h3>
                <volume-c id="6av" text="0%" colour="green"></volume-c>
            </div>
            <div id="6b" style="background-color:dodgerblue">
                <h3>6B when Unified</h3>
                <volume-c id="6bv" text="0%" colour="green"></volume-c>
            </div>
        </div>
        <div id="6TH">
            <div id="6A" style="background-color:aqua">
                <h3>6A in Math, English and SS</h3>
                <volume-c id="6Av" text="0%" colour="green"></volume-c>
            </div>
            <div id="6B" style="background-color:bisque">
                <h3>6B in Math, English and SS</h3>
                <volume-c id="6Bv" text="0%" colour="green"></volume-c>
            </div>
            <div id="6C" style="background-color:lightskyblue">
                <h3>6C in Math, English and SS</h3>
                <volume-c id="8Cv" text="0%" colour="green"></volume-c>
            </div>
        </div>
        <div id="7TH">
            <div id="7A" style="background-color:azure">
                <h3>7A</h3>
                <volume-c id="7Av" text="0%" colour="green"></volume-c>
            </div>
            <div id="7B">
                <h3>7B</h3>
                <volume-c id="7Bv" text="0%" colour="green"></volume-c>
            </div>
        </div>

        <!--END OF CONTENT-->
    </div>
    <script src="/api/static/js/main.js"></script>
</body>
</html>